h1 {
 color: red;
}
.f1 {
 color: purple;
 margin-top: 15pt;
 margin-bottom: 15pt;
 font-size: 20px;
 font-weight: bold;
 font-family: Times New Roman;
 text-align: justify;
 text-transform: uppercase;
}
.f2 {
 color: black;
 margin-top: 12pt;
 margin-bottom: 12pt;
 font-size: 15px;
 font-style: normal;
 font-family: Times New Roman;
 text-align: justify;
 text-transform: capitalize;
}
