.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html, body {
    height: 100%;
    overflow: auto; 
}

.container{
  display: flex;
  flex-direction: column;
  height: 100vh; 
}
.header{
  flex: 0 0 auto;
  width: 100%;
  background-color: pink;
}
.header img {
    width: 100%;
    height: auto;
    display: block;
}

.menu{
  flex: 0 0 auto;
  background-color: darkpink; 
  display: flex;
  align-items: center; 
  padding-left: 20px;
}
.menu a{
  padding: 15px 20px;
  color: pink;
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 15px;
}
.menu a: hover{
  background-color: lightpink; 
}
.content{
  flex: 1 1 auto;
  display: flex;
  background-color: pink;
}
.content iframe{
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
}
.footer{
  flex: 0 0 auto;
  background-color: lightpink; 
  color: pink;
  text-align: center;
  padding: 10px 0;
  font-family: Times New Roman; 
  font-size: 15px;
}
h1 {
 color: red;
}
.f1 {
 color: purple;
 margin-top: 15pt;
 margin-bottom: 15pt;
 font-size: 20px;
 font-weight: bold;
 font-family: Times New Roman;
 text-align: justify;
 text-transform: uppercase;
}
.f2 {
 color: black;
 margin-top: 12pt;
 margin-bottom: 12pt;
 font-size: 15px;
 font-style: normal;
 font-family: Times New Roman;
 text-align: justify;
 text-transform: capitalize;
}
